/* FORMATAÇÃO */
body {
        background-color: #FEE8C7;
}

/* HEADER */

header {
    background-color: #FFC573;
    font-size: 1.5rem;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
}

/* TOPO */

section#Principal {
    background-color: #FECF8C;
    font-size: 1.3rem;
    padding: 3rem;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: 2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
section#Priorize {
    background-color: #FEE8C7;
    padding: 30px 30px 30px 30px;

}

section#Priorize img {
    border-radius: 25px;
    padding: 10px 10px 10px;
    width: 30%;
    align-items: center;
}

/*CONTEÚDO*/
section#Priorize ol li h3 {
    margin: 1vw;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1vw;
    text-align: center;
}
section#Priorize ol li p {
    margin: 0vw 5vw 2.5vw 5vw;
    font-size: 1.2rem;
    text-align: justify;
}
section.alimentacao iframe {
    padding: 19px 0 25px 0;
    width: 16vw;
}

section.alimentacao div.l a {
    color: #3F3F80;
}

section.alimentacao p span {
    font-weight: bold;
}


/*REFERÊNCIAS*/
section#referencias h3 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: bold;
    margin: 0vw 5vw 2.5vw 5vw;
}

section#referencias a {
    display: block;
    margin: 0vw 5vw 2.5vw 5vw;
    font-size: 1.2rem;
    color: #3F3F80;
    text-decoration: none;

 

}

section#d a {
    color: black;
    font-size: 1.2rem;
}

/*FOOTER*/
section.w {
    background-color: #8cab55;
    padding: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 2rem;
}
section.w div#b p strong{
    font-weight: bold;
}
section.w div#b nav a{
    color: black;
}
section.w div#c nav ul li a{
    color: black;
}