@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-family: "Labrada", serif;
}
main p{
    line-height: 2rem !important;
}
header {
    background-color: #FFC573;
    font-size: 1.5rem;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #FFC573;
    padding-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    color: white;
    text-decoration: none;
}
header div.abertura {
    display: flex;
    padding-left: 5vw;
    align-items: center;
    padding-top: 2vw;
}
header h1 {
    font-weight: bold;
    font-size: 2.3rem !important;
    font-family: "Labrada", serif !important;
}
header a {
    color: white;
    text-decoration: none;
}
header ul {
    padding-top: 2vw;
}
section.bannerBeneficios{
    background: #FEE5C1;
    text-align: center;
    margin: 6vw 0vw 0vw 0vw;
    border-radius: 20px;
}
section.bannerBeneficios img{
    width: 100%;
}

.titulo p{
    padding: 0 7vw 0 0;
}
section.beneficios{ 
    margin: 4vw;
    font-size: 2rem;
    line-height: 1.5rem;
    padding: 1vw 10vw;
    border-radius: 25px;
}
section.beneficios p{
    margin: 10px 0 10px;
    padding: 6px 6px 2vw 6px;
}
section.beneficios h2{
    font-weight: bold;
    margin: 10px 10px 10px 10px;
    font-size: 2rem;
}
section.beneficios img{
    border-radius: 10px;
    margin-top: 2vw;
    width: 65%;
    display: block;
    margin: 0 auto;
    align-content: center;
    max-height: 780px;
    margin-top: 5vw;
}
section.beneficios a{
    margin: 5px 5px 5px 5px;
}
section.beneficios ul li{
    background-color: #FEE8C7E5;
    padding: 1vw 2vw;
    margin:  3vw 0 3vw 0;
    border-radius: 15px;
}
section.beneficios h3{
    font-size: 1.5rem;
    font-weight: bold;
}

img.grande {
    width: 90% !important;
}
img.pequeno {
    width: 90% !important;
}
html {
    background-color: rgb(252, 243, 224);
}
@media only screen and (max-width: 780px) {
    section.titulo {
        display: none;
    }
    section.beneficios h3{
        font-size: 1.3rem;
        margin: 6px 6px 6px 6px;
        padding: 4px 0 4px 0;
    }
    section.beneficios p{
        font-size: 1.1rem;
        padding: 1px 2px 1px 2px;
    }
    section.beneficios ul li{
        margin: 5vw 0 5vw 0;
    }
}