@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-family: "Labrada", serif;
}

header {
    background-color: #FFC573;
    font-size: 1.5rem;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #FFC573;
    padding-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    color: white;
    text-decoration: none;
}
header div.abertura {
    display: flex;
    padding-left: 5vw;
    align-items: center;
    padding-top: 2vw;
}
header h1 {
    font-weight: bold;
    font-size: 2.3rem !important;
    font-family: "Labrada", serif !important;
}
header a {
    color: white;
    text-decoration: none;
}
header ul {
    padding-top: 2vw;
}
section.cardbox {
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: left;
    font-size: 5rem;
    color: #414183;
    font-weight: bold;
    background-color: #FFF7E9D9;
    opacity: 95%;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 50px;
    margin-bottom: 5vw;
}
section.beneficios{ 
    margin: 4vw;
    font-size: 2rem;
    line-height: 1.5rem;
    padding: 1vw 10vw;
    background-color: #FEE8C7;
    border-radius: 25px;
}
section.bannerBeneficios{
    background: #FEE5C1;
    text-align: center;
    margin: 6vw 0vw 0vw 0vw;
    border-radius: 20px;
}
section.bannerBeneficios img{
    width: 100%;
}
section.beneficios p{
    margin: 10px 0 10px;
    padding: 6px 6px 2vw 6px;
}
section.beneficios h2{
    font-weight: bold;
    margin: 10px 10px 10px 10px;
    font-size: 2rem;
}
section.beneficios img{
    border-radius: 25px;
}
section.beneficios a{
    margin: 5px 5px 5px 5px;
}
section.beneficiosDiv {
    background-color: #FECF8C;
    font-size: 2rem;
    text-align: left;
    padding-left: 2vw;
    padding-bottom: 3vw;
    padding-right: 5vw;
    padding-top:3vw;
    border-radius: 0 0 25px 25px;
}
img.grande {
    width: 90% !important;
}
img.pequeno {
    width: 90% !important;
}
html {
    background-color: rgb(252, 243, 224);
}

/* HEADER */

header {
    background-color: #FFC573;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
}

/* TOPO */

section.Principal {
    margin: 5vw;
    font-size: 1.3rem;
    line-height: 1.5rem;
    background-color: #FECF8C;
    border-radius: 5vw;
    padding: 10vw;
    text-align: justify;
}

section.Principal section#b h5 {
    font-size: 1.4rem;
    font-weight: bold;
}

section.Principal section#c h3 {
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-align: center;
}
section.Principal section#c section#a{
background-color: #FEE8C7;
padding: 15px 15px 15px 15px;
border-radius: 15px;
}
section.Principal section#c section#a img{
border-radius: 15px;
padding: 10px 0 0 0;
width: 100%;
}
/*CONTEÚDO*/
section.alimentacao{
    margin: 4vw;
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding: 10vw;
}
section.alimentacao iframe{
    padding: 19px 0 25px 0;
    width: 16vw;
}
section.alimentacao div.l a{
    color: #3F3F80;
}
section.alimentacao p span{
    font-weight: bold;
}
/*PDF*/
section#d{
    margin: 4vw;
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding: 10vw;
}
section#d h3{
    font-weight: bold;
    padding: 0 0 15px 0;
}
section#d a{
    color: black;
    font-size: 1rem;
}

/*FOOTER*/
section.w{
    margin: 4vw;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 10vw;
    background-color: #8EA657;
    border-radius: 25px;
}
body, main {
    padding: 0 !important;
}