@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');
/* FORMATAÇÃO */
html {
    background-color: rgb(252, 243, 224);
    font-family: "Labrada", serif;
    
}

/* HEADER */

html {
    font-family: "Labrada", serif;
}
body.Principal {
    padding: 0 10vw;
}
/*CABEÇALHO*/
main {
    padding: 7vw;
    font-size: 2rem;
    text-align: left;
}
section.bannerSugestoes{
    background: #FEE5C1;
    border-radius: 2vw;
    margin: 2vw 0 2vw 0;
}
section.sugestoes1{
    text-align: center;
    padding: 10vw 10vw 0 10vw;
}
section.sugestoes1 p{
    padding: 10px 10px 10px 10px;
    font-size: 1.6rem;
}
section.sugestoes1 img{
    text-align: center;
    margin: 2vw 0 0 0;
}
section.sugestoes2{
    padding: 10vw;
}
section.dicas h2 {
    display: none;
}
section.sugestoes2 p{
    padding: 15px 15px 15px 15px;
}
section.sugestoes2 h2{
    font-weight: bold;
}
section.sugestoes2 ol li{
    margin: 10px 0 10px;
}
section.sugestoes2 ol li h3{
    font-weight: bold;
}
section.dicas {
    padding: 2vw 15vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
section.dicas p {
    padding-right: 4vw;
    line-height: 2.3rem;
    padding-bottom: 2vw;
    padding-top: 2vw;
}
section.dicas h2 {
    font-weight: bold;
    font-size: 2.1rem;
    padding-bottom: 1vw;
}
.dicasParagrafo {
    padding-left: 2vw;
}
section.dicas img {
    padding-left: 9vw;
    max-width: 78%;
}
section#operador {
    padding-top: 2vw;
    padding-bottom: 5vw;
    padding-left: 15vw;
    padding-right: 15vw;
}
section#operador h2 {
    font-size: 3rem;
    font-weight: bold;
}
section#operador ul {
    padding-left: 2vw;
    padding-right: 2vw;
}
section#operador h2 {
    padding-left: 2vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
}
section#operador li {
    padding-top: 1vw;
}
section#operador p {
    padding-bottom: 2vw;
}
section#operador span{
    font-weight: bold;
}
section.dicas h3{
    font-weight: bold;
}
section#operador ul li{
    background: #FEE8C7E5;
    border-radius: 15px;
    padding: 1vw 2vw;
    margin: 5vw 0 5vw 0;
}
section#operador h3{
        font-weight: bold;
    }
/*FOOTER*/
footer {    
    text-decoration: none;
    background-color: #8cab55;
    padding: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 2rem 1rem 2rem;
}

footer div#b p {
    font-weight: bold;
    padding: 15px 0 15px 0;
}
footer div#b nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;
   
}
footer div#c p.l {
    font-weight: bold;
    padding: 10px 0 15px 0;
}
footer div#c nav ul.menu-rodape {
    display: flex;
    justify-content: baseline;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;
}
footer div#c nav ul.menu-rodape li a{
    color: black;
    text-decoration: none;
}


footer div#b nav a{
    color: black;
    float: right;
    font-size: 2rem;
    padding: 10px;
    margin: 15px 0 0 0;
}
footer div#c nav ul li a{
    color: black;
}
footer div#d nav ul li a{
    color: black;
}
footer div#e nav ul li a{
    color: black;
}
footer div.f {
    text-align: center;
    padding-top: 1rem;
}
footer div.f a{
    font-weight: bolder;
    color: #FFF7E9;
    text-decoration: none;



}
body, main {
    padding: 0 !important;
}
@media (max-width: 780px){
    section.dicas h3 {
        display: none;
    }
    section.dicas h2 {
        display: block;
        margin-top: 6vw;
    }
    section.titulo{
        display: none;
    }
    section.dicas img{
        max-width: 90%;
        margin: 4vw auto 4vw auto;
    }
    section#operador{
        margin: 2vw 0 0 0;
    }
    section#operador ul li{
        margin: 2vw 0 2vw 0;
    }
    section#operador a{
        font-size: 1.1rem;
    }
    main p{
        font-size: 1.1rem;
    }
    main h3{
        font-size: 1.5rem;
    }
    section#operador ul li{
        margin: 10vw 0 10vw 0;
    }
    section#operador p.pOperador{
        line-height: 1.5rem;
        margin: 20px 0 0 0;
    }
}