/* FORMATAÇÃO */
@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Labrada", serif;
}

/* HEADER */
html {
    font-family: "Labrada", serif;
}



/* TOPO */
section.Principal h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1vw;
}

div#f {
    padding-left: 2vw;
    line-height: 2.2rem;
    padding-right: 5vw;
    padding-bottom: 2vw;
}

section.Principal {
    font-size: 1.5rem;
    padding: 2rem;
    padding-bottom: 4.5vw;
}

section.Principal section#b h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

section.Principal{
    line-height: 2.7rem;
}

section.Principal h3 {
    font-weight: bold;
    text-align: left;
    font-size: 2rem;
    padding-bottom: 0.5vw;
}

section.Principal {
    padding: 30px 30px 30px 30px;
    border-radius: 15px;
    padding-bottom: 4vw;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}

section.Principal img {
    border-radius: 10px;
    margin-top: 2vw;
    width: 78%;
    display: block;
    margin: 0 auto;
    align-content: center;
    max-height: 740px;
    margin-top: 5vw;
}
section.Principal ul li {
    text-align: center;
    margin: 2vw 10vw;
    padding: 1vw 2vw;
    max-width: 78%;
        opacity: 90%;
    background-color: #FEE8C7E5;
}
section.Principal ul li#Up {
    opacity: 90%;
    background-color: #FEE8C7E5;
    padding: 1vw 2vw;
    border-radius: 10px;
    max-width: 78%;
}

/*CONTEÚDO*/
.primeiro {
    font-size: 1.5rem;
    padding-left: 20px;
}

section.alimentacao {
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding-left: 5vw;
    font-size: 2rem;
    padding-top: 3vw;
    padding-right: 7vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-bottom: 5vw;
}

section.alimentacao p.frase {
    text-align: left;
    padding-bottom: 4vw;
}

section.alimentacao iframe {
    display: block;
    margin: 0;
    width: 60%;
    height: 30vw;
    border-radius: 25px;
}

p.necessario {
    padding-top: 3vw;

}

span.bc {
    font-size: 2.1rem;
    padding-left: 20px;
}

/*PDF*/
section#d {
    margin: 4vw;
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding: 10vw;
}

section#d h3 {
    font-weight: bold;
    padding: 0 0 15px 0;
}

section#d a {
    color: black;
    font-size: 1.2rem;
}

/*FOOTER*/
section.w {
    background-color: #8cab55;
    padding: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 2rem;
}

section.w div#b p strong {
    font-weight: bold;
}

section.w div#b nav a {
    color: black;
}

section.w div nav ul li a {
    color: black;
}

section.w div.f a {
    color: black;
}

body,
main {
    padding: 0 !important;
}