/* FORMATAÇÃO */
body {
        background-color: rgb(252, 243, 224);
        font-size: 2rem;

}

/* HEADER */
html {
    font-family: "Labrada", serif;
}
body.Principal {
    padding: 0 10vw;
}
header {
    background-color: #FFC573;
    font-size: 1.5rem;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #FFC573;
    padding-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    color: white;
    text-decoration: none;
}
header div.abertura {
    display: flex;
    padding-left: 5vw;
    align-items: center;
    padding-top: 2vw;
}
header h1 {
    font-weight: bold;
    font-size: 2.3rem !important;
    font-family: "Labrada", serif !important;
}
header a {
    color: white;
    text-decoration: none;
}
header ul {
    padding-top: 2vw;
}


/* TOPO */
.fotobranca {
    
}
section.titulo {
    width: 100%;
    height: 90vh;
    align-content: center;
}

section.cardbox {
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: left;
    font-size: 5rem;
    color: #414183;
    font-weight: bold;
    background-color: #FFF7E9D9;
    opacity: 95%;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 50px;
}
section#Principal p{
    font-size: 2.3rem;
        text-align: left !important;
}
section#a h2{
    font-size: 2.3rem;
        text-align: left !important;
}
section#a {
    padding: 3rem;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: 2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

section#Principal {
    background-color: #FECF8C;
    font-size: 2.3rem;
    font-size: 1.5rem;
    padding: 2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
section#Priorize {
    padding: 30px 30px 30px 30px;
}
section#Priorize img {
    border-radius: 25px;
    padding: 10px 10px 10px;
    width: 45%;
    align-items: center;
    display: block;
    margin-left: 35%;
}

/*CONTEÚDO*/
section#Priorize ol li h3 {
    margin: 1vw;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1vw
}
section#Priorize ol li iframe {
    display: block;
    margin-left: 5%;
    padding: 1vw;
    align-items: left;
    margin-left: 35%;
}


section#Priorize ol li p {
    margin: 0vw 5vw 2.5vw 5vw;
    font-size: 2.2rem;
    text-align: justify; 
}
section.alimentacao iframe {
    margin: 1vw 0 25px 0;
    width: 50%;
}

section.alimentacao div.l a {
    color: #3F3F80;
}

section.alimentacao p span {
    font-weight: bold;
}
section.titulo {
    width: 100%;
    height: 90vh;
    align-content: center;
}

section.cardbox {
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: left;
    font-size: 5rem;
    color: #414183;
    font-weight: bold;
    background-color: #FFF7E9D9;
    opacity: 95%;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 50px;
}

/*REFERÊNCIAS*/
section#referencias h3 {
    font-size: 2.5rem;
    line-height: 1.7rem;
    font-weight: bold;
    margin: 0vw 5vw 2.5vw 5vw;
}

section#referencias a {
    display: block;
    margin: 0vw 5vw 2.5vw 5vw;
    font-size: 2.2rem;
    color: #3F3F80;
    text-decoration: none;
}
section#Priorize ol li ul li {
    margin: 0vw 5vw 2.5vw 5vw;
    font-size: 2.2rem;
    text-align: justify;
}

section#d a {
    color: black;
    font-size: 2.2rem;
    margin: 2vw 5vw 2.5vw 5vw;
    text-align: justify;
}
footer {    
    text-decoration: none;
    background-color: #8cab55;
    padding: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 2rem 2rem 1rem 2rem;
}

footer div#b p {
    font-weight: bold;
    padding: 15px 0 15px 0;
}
footer div#b nav ul {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
    padding-left: 0;
   
}
footer div#c p.l {
    font-weight: bold;
    padding: 10px 0 15px 0;
}
footer div#c nav ul.menu-rodape {
    display: flex;
    justify-content: baseline;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;
}
footer div#c nav ul.menu-rodape li a{
    color: black;
    text-decoration: none;
}


footer div#b nav a{
    color: black;
    float: right;
    font-size: 2rem;
    padding: 10px;
    margin: 15px 0 0 0;
}
footer div#c nav ul li a{
    color: black;
}
footer div#d nav ul li a{
    color: black;
}
footer div#e nav ul li a{
    color: black;
}
footer div.f {
    text-align: center;
    padding-top: 1rem;
}
footer div.f a{
    font-weight: bolder;
    color: #FFF7E9;
    text-decoration: none;



}
body, main {
    padding: 0 !important;
}

