/* FORMATAÇÃO */
body {
    font-size: 2rem;

}

/* HEADER */
html {
    font-family: "Labrada", serif;
}

body.Principal {
    padding: 0 10vw;
}



div#Principal p {
    font-size: 2.3rem;
    text-align: left !important;
}

section#a h2 {
    font-size: 2.3rem;
    text-align: left !important;
}

section#a {
    padding: 3rem;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: 2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

div#Principal {
    background-color: #FECF8C;
    font-size: 2.3rem;
    font-size: 1.5rem;
    padding: 2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

section#Priorize {
    padding: 30px 30px 30px 30px;
}

section#Priorize img {
    border-radius: 25px;
    padding: 10px 10px 10px;
    width: 50%;
    align-items: center;
    display: block;
    margin-left: 20%;
}

/*CONTEÚDO*/
section.Principal h3 {
    font-weight: bold;
    text-align: left;
    font-size: 2rem;
    padding-bottom: 0.5vw;
}

section.Principal {
    padding: 30px 30px 30px 30px;
    border-radius: 15px;
    padding-bottom: 4vw;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}

section.Principal img {
    border-radius: 10px;
    margin-top: 2vw;
    width: 78%;
    display: block;
    margin: 0 auto;
    align-content: center;
    max-height: 780px;
    margin-top: 5vw;
}
section.Principal ul li {
    text-align: center;
    margin: 2vw 10vw;
    padding: 1vw 2vw;
    max-width: 78%;
    background-color: transparent;
    margin-bottom: 4vw;
}
section.Principal ul li.up {
    opacity: 0.9;
    background-color: #FEE8C7E5;
    padding: 1vw 2vw;
    border-radius: 10px;
    max-width: 78%;
}
section#Priorize ol li h3 {
    margin: 1vw;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1vw
}

section.Principal ul li iframe {
    display: block;
    text-align: center;
}
section#Priorize ol li p {
    margin: 0vw 5vw 2.5vw 5vw;
    font-size: 1.4rem;
    text-align: justify;
}

section.alimentacao iframe {
    margin: 1vw 0 25px 0;
    width: 50%;
}

section.alimentacao div.l a {
    color: #3F3F80;
}

section.alimentacao p span {
    font-weight: bold;
}


/*REFERÊNCIAS*/
section#referencias h3 {
    font-size: 1.6rem;
    line-height: 1.7rem;
    font-weight: bold;
    margin: 0vw 5vw 1.5vw 5vw;
}

section#referencias a {
    display: block;
    margin: 0vw 5vw 0vw 5vw;
    font-size: 1.5rem;
    color: #3F3F80;
    text-decoration: none;
}
section#referencias {
    margin-bottom: 5vw;
    font-family: "Noto Traditional Nushu", sans-serif;
    margin-left: 11vw;
}

section#Priorize ol li ul li {
    margin: 0vw 5vw 2.5vw 5vw;
    font-size: 2.2rem;
    text-align: justify;
}

section#d a {
    color: black;
    font-size: 2.2rem;
    margin: 2vw 5vw 2.5vw 5vw;
    text-align: justify;
}

@media (max-width: 780px) {
        section.Principal img {
        max-width: 310px;
        max-height: 220px;
    }
    section.Principal ul li{
        width: 310px !important;
        margin-bottom: 10vw;
    }
    section.Principal p {
        font-size: 1.1rem;
        line-height: 2rem;
    }
    section.Principal h3 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 3vw;

    }
    section.Principal iframe {
        display: none;
    }
    section#referencias h3 {
        font-size: 1.3rem;
        margin-bottom: 5vw;
    }
    section#referencias a{
        margin-bottom: 1vw;
        font-size: 1.1rem;
    }
    section.Principal{
        padding-left: 0;
        padding-right: 0;
    } 
}