@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Labrada:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

main {
    text-align: center;
}

main.questionario p {
    font-size: 2rem;
    padding-bottom: 6vw;
    text-align: justify;
    padding-right: 8vw;
    padding-left: 8vw;

}

main.questionario h2 {
    font-size: 4rem;
    font-family: "Martian Mono", monospace !important;
    padding-top: 7vw;
    padding-bottom: 5vw;
    font-weight: bold;
}

section.questionarioPrincipal {
    padding-bottom: 10vw;
    padding-left: 7vw;
    padding-right: 7vw;
}

main.questionario button {
    background-color: #8cab55;
    padding: 3vw 12vw;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 3rem;
    font-family: "Martian Mono", monospace !important;
    cursor: pointer;
}


/* =========================================================== QUIZZZ PRINCIPAL ============================================================ */


body.quizzz {
    background-color: #8cab55 !important;
    font-family: "Martian Mono", monospace !important;
    margin: 0;
    padding: 0;
}

.quiz h1 {
    background-color: #FEE5C1;
    padding: 2vw 3vw;
    border-radius: 20px;
    display: inline-block;
    font-size: 3.5rem;
    margin-top: 2vw;
}

.quiz h2 {
    font-size: 2rem;
    padding-top: 4vw;
    color: white;
    font-size: 3.4rem;
    padding-bottom: 2vw;
}

.quiz h3 {
    color: white;
    font-size: 2rem;
    padding-bottom: 5vw;
}

footer.footer {
    background-color: #FEE5C1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 2.5vw 15vw;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.footer h2 {
    font-size: 1rem;

    font-family: "Labrada", serif;
    padding-top: 2vw;
    color: gray;
}

.footer a {
    text-decoration: none;
}

.quiz ul li {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3vw;
}

.quiz ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.quiz button {
    width: 10vw;
    height: 3.4vw;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #FFF7E9;
    color: #8cab55;
    ;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.ultimo {
    padding-bottom: 5vw !important;
}
button {
    transition: transform 0.2s ease, background-color 0.2s;
  }

  button:hover {
    transform: scale(1.1);
  }
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}