section ul.lista-receitas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 3vw 7vw;
    list-style: none;
}

section ul.lista-receitas li {
    text-align: center;
    flex: 0 1 250px; /* fixa largura */
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section ul.lista-receitas img {
    width: 220px;      /* largura fixa */
    height: 220px;     /* altura fixa */
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

section ul.lista-receitas img:hover {
    transform: scale(1.05);
}

section ul.lista-receitas h2 {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2rem;
    
    text-decoration: none;
}

section ul.lista-receitas a {
    text-decoration: none;
    color: inherit;
}
@media screen and (max-width:780px){
section ul.lista-receitas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section ul.lista-receitas li{
    min-width: auto;
    height: auto;
}

section ul.lista-receitas img{
    width: 30vw;
    height: 30vw;
}    
}
