main p,
main a{
    font-size: 2rem;
    padding-top: 2vw;
    padding-left: 7vw;
    padding-right: 7vw;
}
.refere li {
    padding-bottom: 2vw;
    padding-top: 1vw;
}

@media (max-width: 768px) {
  main{
    
  }
}