@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');

/* FORMATAÇÃO */
html {
    background-color: rgb(252, 243, 224);
    font-family: "Labrada", serif;
}

/* HEADER */

html {
    font-family: "Labrada", serif;
}

body.Principal {
    padding: 0 10vw;
}

/*TOPO*/
section.titulo {
    width: 100%;
    height: 90vh !important;
    align-content: center;
}

section.cardbox {
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: left;
    font-size: 5rem;
    color: #414183;
    font-weight: bold;
    background-color: #FFF7E9D9;
    opacity: 95%;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 50px;
}

section#somos {
    font-size: 1.5rem;
    padding: 3rem;
    margin-top: 2rem;
}

section#somos h3 {
    font-weight: bold;
    padding: 0 0 20px;
    background-image: url('../scr/fundo para pc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#somos ul li {
    display: flex;
    
}
section#somos ul li p{
        transition: transform 0.2s ease, background-color 0.2s
}

section#somos ul li p:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 2px 1px #3b3b3bb0;
}
section#somos ul li img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 3vw;

}

section#somos ul li div img {
    width: 30%;
}

section#somos ul li p {
    padding: 2vw 3vw 2vw 3vw;
    margin: 2vw;

    border-radius: 15px;
    background-color: #B3B3E5;
    color: #1B1B5C;
    line-height: 1;
}

section#somos ul li ul li p strong {
    font-weight: bold;
}

section#somos ul {
    list-style: none !important;
    padding-left: 0;
}

section#somos img {
    width: 50%;
}

section.projeto {
    font-size: 2rem;
    padding: 2vw 7vw 2vw 7vw;
    background-color: #fcce8e;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

section.sobreOProjeto {
    background-color: rgb(252, 243, 224);
    padding: 2vw;
    border-radius: 25px;
}
section.links {
    padding-top: 4vw;
}
section.links p {
    padding-bottom: 2vw;
}
section.sobreOProjeto h2 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2vw;
}
section.sobreOProjeto p {
    padding-bottom: 2vw;
}
section.sobreOProjeto ul li {
    font-family: "Fira Sans", sans-serif !important;
}
section.sobreOProjeto h3 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2vw;
}
section.sobreOProjeto li {
    padding-bottom: 2vw;
}
section.sabermais h3 {
    font-size: 3rem;
    padding-bottom: 2vw;
    font-weight: bold;
}
section.sabermais p {
    padding-bottom: 2vw;
}



/*FOOTER*/



@media (max-width: 600px) {
    body {
    font-size: 16px; 
}

@media (max-width: 768px) {
    body.Principal {
        padding: 0 5vw; 
    }

    section.titulo {
        height: auto; 
        padding: 2rem 0; 
    }

    section.cardbox {
        width: 90%; 
        font-size: 3rem; 
        padding: 2rem; 
    }

    section#somos {
        font-size: 1rem; 
        padding: 1rem; 
    }

    section#somos ul li {
        flex-direction: column; 
        align-items: center; 
    }

    section#somos ul li img {
        width: 30vw; 
        height: 30vw;
    }

    section#somos ul li p {
        padding: 1rem; 
        margin: 1rem 0; 
    }

  

    section.projeto, section.sobreOProjeto {
        padding: 1rem; 
    }
}
}