@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');

/* FORMATAÇÃO */
html {
    background-color: rgb(252, 243, 224);
    font-family: "Labrada", serif;
}

/* HEADER */

html {
    font-family: "Labrada", serif;
}

body.Principal {
    padding: 0 10vw;
}

/*TOPO*/
section.titulo {
    width: 100%;
    height: 80vh !important;
    align-content: center;
}

section.cardbox {
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: left;
    font-size: 5rem;
    color: #414183;
    font-weight: bold;
    background-color: #FFF7E9D9;
    opacity: 95%;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 50px;
}

section#a {
    font-size: 1.5rem;
    padding: 3rem;
    margin-top: 2rem;
}

section#a h3 {
    font-weight: bold;
    padding: 0 0 20px;
    background-image: url('../scr/fundo para pc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#a ul li {
    display: flex;
}

section#a ul li img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 3vw;

}

section#a ul li div img {
    width: 30%;
}

section#a ul li p {
    padding: 2vw 3vw 2vw 3vw;
    margin: 2vw;

    border-radius: 15px;
    background-color: #B3B3E5;
    color: #1B1B5C;
    line-height: 1;
}

section#a ul li ul li p strong {
    font-weight: bold;
}

section#a ul {
    list-style: none !important;
    padding-left: 0;
}

section#a img {
    width: 50%;
}

section.projeto {
    font-size: 2rem;
    padding: 2vw 7vw 2vw 7vw;
    background-color: #FECF8C;
    border-radius: 25px;
}

section.sobreOProjeto {
    background-color: rgb(252, 243, 224);
    padding: 2vw
    ;
    border-radius: 25px;
}
section.links {
    padding-top: 4vw;
}
section.links p {
    padding-bottom: 2vw;
}

/*FOOTER*/



@media (max-width: 600px) {

    body,
    main {
        padding: 0 !important;
    }

    section#a {
        padding: 1rem;
    }
}