@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');

/* FORMATAÇÃO */
html {
    background-color: rgb(252, 243, 224);
    font-family: "Labrada", serif;
}

/* HEADER */

html {
    font-family: "Labrada", serif;
}

body.Principal {
    padding: 0 10vw;
}

/*TOPO*/

section#somos {
    font-size: 1.5rem;
    padding: 3rem;
    margin-top: 2rem;
}

section#somos h3 {
    font-weight: bold;
    padding: 0 0 20px;
    background-image: url('../scr/fundo para pc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#somos ul li {
    display: flex;
    
}
section#somos ul li p{
        transition: transform 0.2s ease, background-color 0.2s
}

section#somos ul li p:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 2px 1px #3b3b3bb0;
}
section#somos ul li img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 3vw;

}

section#somos ul li div img {
    width: 30%;
}

section#somos ul li p {
    padding: 2vw 3vw 2vw 3vw;
    margin: 2vw;

    border-radius: 15px;
    background-color: #B3B3E5;
    color: #1B1B5C;
    line-height: 1;
}

section#somos ul li ul li p strong {
    font-weight: bold;
}

section#somos ul {
    list-style: none !important;
    padding-left: 0;
}

section#somos img {
    width: 50%;
}

section.projeto {
    font-size: 2rem;
    padding: 2vw 7vw 2vw 7vw;
    background-color: #fcce8e;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

section.sobreOProjeto {
    background-color: rgb(252, 243, 224);
    padding: 2vw;
    border-radius: 25px;
}
section.links {
    padding-top: 4vw;
}
section.links p {
    padding-bottom: 2vw;
}
section.sobreOProjeto h2 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2vw;
}
section.sobreOProjeto p {
    padding-bottom: 2vw;
}
section.sobreOProjeto ul li {
    font-family: "Fira Sans", sans-serif !important;
}
section.sobreOProjeto h3 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2vw;
}
section.sobreOProjeto li {
    padding-bottom: 2vw;
}
section.sabermais h3 {
    font-size: 3rem;
    padding-bottom: 2vw;
    font-weight: bold;
}
section.sabermais p {
    padding-bottom: 2vw;
}



/*FOOTER*/



@media (max-width: 600px) {

    body,
    main {
        padding: 0 !important;
    }

    section#a {
        padding: 1rem;
    }
}

/* Ensure the hero doesn't stay huge when this CSS is loaded after style.css */
@media (max-width: 780px) {
    section.titulo {
        height: auto !important;
        padding: 2rem 1rem;
    }
    div.cardbox { width: 90%; padding-left: 2rem; padding-right: 2rem; border-radius: 25px; }
    header { padding-bottom: 1rem; }
}