@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');
/* FORMATAÇÃO */
html {
    background-color: rgb(252, 243, 224);
    font-family: "Labrada", serif;
}

/* HEADER */

header {
    background-color: #FFC573;
    font-size: 1.5rem;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
}

/*TOPO*/

section#a {
    font-size: 1.5rem;
    padding: 3rem;
    margin-top: 2rem;
}
section#a h3{
font-weight: bold;
padding: 0 0 20px;
}
section#a ul li ul li{
    display: flex;
}
section#a ul li ul li img{
    width: 7%;
    height: 7%;
    margin: 2vw;
}
section#a ul li ul li p{
   padding: 2vw 3vw 2vw 3vw;
   margin: 2vw;
    border-radius: 15px;
    background-color: #B3B3E5;
    color: #1B1B5C;
    line-height: 2vw;
}
section#a ul li ul li p strong {
    font-weight: bold;
}


/*FOOTER*/
section.w {
    background-color: #8cab55;
    padding: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 2rem;
}
section.w div#b p strong{
    font-weight: bold;
}
section.w div#b nav a{
    color: black;
}
section.w div#c nav ul li a{
    color: black;
}