/* FORMATAÇÃO */
html {
    background-color: rgb(252, 243, 224);
}

/* HEADER */

header {
    background-color: #FFC573;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* TOPO */

section.Principal {
    text-align: center;
    margin: 5vw;
    font-size: 1.3rem;
    line-height: 1.5rem;
    background-color: #FECF8C;
    border-radius: 5vw;
    padding: 10vw;
}