@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Labrada:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Traditional+Nushu:wght@300..700&display=swap');
/* FORMATAÇÃO */
html {
    background-color: #FFF7E9;
    font-family: "Labrada", serif;


}
main p {
    line-height: 3rem;
    text-align: justify !important;
    color: rgb(30, 29, 32);
    font-size: 1.5rem;
}

body,
main {
    padding: 0 !important;
}

/* HEADER */

main p {
    font-family: "Fira Sans", sans-serif !important;
}
header {
    background-color: #FFC573;
    font-size: 1.5rem;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
    font-family: "Martian Mono", monospace !important;
}

header {
    background-color: #FFC573;
    padding-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 !important;
    color: white;
    text-decoration: none;
}

header div.abertura {
    display: flex;
    padding-left: 5vw;
    align-items: center;
    padding-top: 2vw;
}

header h1 {
    font-weight: bold;
    font-size: 2.3rem !important;
    font-family: "Labrada", serif !important;
    padding-left: 5vw;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
    padding: 5px 10px 5px;
    border-radius: 8px;
    font-size: 1.2rem !important;
    font-family: "Martian Mono", monospace !important;
}
header a:hover, header a:focus, header a.active {
    background: white !important;
    color: #FFC573 !important;
    cursor: pointer !important;
    text-decoration: none !important;
}
header ul {
    padding-top: 2vw;
    display: flex;
}

header li {
    padding-right: 4vw;}
.MaleficiosDois {
    color: #FFC573;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px 5px;
    opacity: 90%;
}

section.titulo {
    width: 100%;
    height: 90vh;
    align-content: center;
    background-image: url(../scr/fundo\ para\ pc.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.cardbox {
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: left;
    color: #414183;
    font-weight: bold;
    background-color: #FFF7E9D9;
    opacity: 85%;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 50px;
}
div.cardbox h2 {
    font-size: 3.8rem;
    margin-bottom: 2vw;
    font-family: "Noto Traditional Nushu", sans-serif; !important;
}
div.cardbox h3,
div.cardbox p {
    font-family: "Platypi", serif !important; 
    color: #2e2d2d;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
}
div.cardbox h3 {
    margin-bottom: 0.3vw;
}
/*CABEÇALHO*/
section.titulo {
    width: 100%;
    height: 90vh;
    align-content: center;
}

/*FOOTER*/
footer {
    text-decoration: none;
    background-color: #8cab55;
    padding: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 2rem 1rem 2rem;
}

footer div#b p {
    font-weight: bold;
    padding: 15px 0 15px 0;
}

footer div#b nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;

}

footer div#c p.l {
    font-weight: bold;
    padding: 10px 0 15px 0;
}

footer div#c nav ul.menu-rodape {
    display: flex;
    justify-content: baseline;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;
}

footer div#c nav ul.menu-rodape li a {
    color: black;
    text-decoration: none;
}


footer div#b nav a {
    color: black;
    float: right;
    font-size: 2rem;
    padding: 10px;
    margin: 15px 0 0 0;
}

footer div#c nav ul li a {
    color: black;
}

footer div#d nav ul li a {
    color: black;
}

footer div#e nav ul li a {
    color: black;
}

footer div.f {
    text-align: center;
    padding-top: 1rem;
}

footer div.f a {
    font-weight: bolder;
    color: #FFF7E9;
    text-decoration: none;
}


/*======================================= SUBMENU =============================================== */

header ul li {
    position: relative;
    
}

header ul li ul {
    position: absolute;
    top: calc(100% + 1vw);
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    flex-direction: column;
    gap: 5px;
}

header ul li:hover > ul,
header ul li:focus-within > ul {
    opacity: 1;
    visibility: visible;
}

header ul li ul li {
    list-style: none;
}

header ul li ul li a {
    display: block;
    padding: 7px 16px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    color: #FFC573;
    background: white;
    transition: background 0.2s, color 0.2s;
}

header ul li ul li a:hover {
    background: #FFC573;
    color: white;
}

header ul li:hover > a,
header ul li:focus-within > a {
    background: white !important;
    color: #FFC573 !important;
}


header ul li ul {
    transition-delay: 0.3s; 
}


/* ============================================== MEDIA ============================================== */

html, body {
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}