@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Labrada:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Traditional+Nushu:wght@300..700&display=swap');

/* FORMATAÇÃO */
html {
    background-color: #FFF7E9 !important;
    font-family: "Labrada", serif;


}

main h2,
main h3,
main h4,
main h5 {
    font-family: "Platypi", serif !important;
}

main p {
    line-height: 3rem;
    text-align: justify !important;
    color: rgb(30, 29, 32);
    font-size: 1.5rem;
}

body,
main {
    padding: 0 !important;
}

/* HEADER */

header div.headerCellphone {
    display: none;
}

main p {
    font-family: "Fira Sans", sans-serif !important;
}

header {
    background-color: #FFC573;
    font-size: 1.5rem;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
    font-family: "Martian Mono", monospace !important;
}

header {
    background-color: #FFC573;
    padding-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 !important;
    color: white;
    text-decoration: none;
}

header div.abertura {
    display: flex;
    padding-left: 5vw;
    align-items: center;
    padding-top: 2vw;
}
header h1 {
    font-weight: bold;
    font-size: 2.3rem !important;
    font-family: "Labrada", serif !important;
    padding-left: 5vw;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
    padding: 5px 10px 5px;
    border-radius: 8px;
    font-size: 1.2rem !important;
    font-family: "Martian Mono", monospace !important;
}

header a:hover,
header a:focus,
header a.active {
    background: white !important;
    color: #FFC573 !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

header ul {
    padding-top: 2vw;
    display: flex;
}

header li {
    padding-right: 4vw;
}

.MaleficiosDois {
    color: #FFC573;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px 5px;
    opacity: 90%;
}

section.titulo {
    width: 100%;
    height: 77vh !important;
    align-content: center;
    background-image: url(../scr/fundo\ para\ pc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.cardbox {
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: left;
    color: #414183;
    font-weight: bold;
    background-color: #fcf5dfd3;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 50px;
}
section.titulo p, section.titulo h2{
    padding: 0 7vw 0 0;
}
section.frutas div.galeria div.galeria-row div.item p{
    font-size: 1.5rem;
}

div.cardbox h2 {
    font-size: 3.8rem;
    margin-bottom: 2vw;
    font-family: "Noto Traditional Nushu", sans-serif !important;
}

div.cardbox h3,
div.cardbox p {
    font-family: "Platypi", serif !important;
    color: #2e2d2d;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
}

div.cardbox h3 {
    margin-bottom: 0.3vw;
}

iframe {
    margin: 0 auto;
    margin-bottom: 1.5vw;
    border-radius: 25px;
    width: 50%;
    height: 343px;
}

/*FOOTER*/
footer {
    text-decoration: none;
    background-color: #8cab55;
    padding: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 2rem 2rem 2rem;
    font-size: 1.3rem !important;
    font-family: "Noto Traditional Nushu", sans-serif !important;
}

footer div.footer{
    max-width: 100vw;
    margin: 3vw;
    line-height: 2rem;
    
}

footer div.footer div.f{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

footer div.f a {
    font-weight: bolder;
    color: #FFF7E9;
    text-decoration: none;
}

footer div.footer div.f nav.r a {
    color: black;
    float: right;
    font-size: 2rem;
    padding:  0 0 0 20px;
}

footer div.footer div.doisLados div.ladoUm div#b p {
    font-weight: bold;
    padding: 0;
}

footer div.footer div.doisLados div.ladoUm div#b nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;

}

footer div.footer div.doisLados div#c p.l {
    font-weight: bold;
    padding: 10px 0 15px 0;
}

footer div.footer div.doisLados div#c nav ul.menu-rodape {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;
}

footer div.footer div.doisLados div#c nav ul.menu-rodape li a {
    color: black;
    text-decoration: none;
}

footer div.footer div.doisLados div#c{
    display: flex;
    flex-direction: column;
    
}

footer div.footer div.doisLados div#c nav ul li a {
    color: black;
}

footer div.footer div.doisLados {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*======================================= SUBMENU =============================================== */

header ul li {
    position: relative;

}

header ul li ul {
    position: absolute;
    top: calc(100% + 1vw);
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    flex-direction: column;
    gap: 5px;
}

header ul li:hover>ul,
header ul li:focus-within>ul {
    opacity: 1;
    visibility: visible;
}

header ul li ul li {
    list-style: none;
}

header ul li ul li a {
    display: block;
    padding: 7px 16px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    color: #FFC573;
    background: white;
    transition: background 0.2s, color 0.2s;
}

header ul li ul li a:hover {
    background: #FFC573;
    color: white;
}

header ul li:hover>a,
header ul li:focus-within>a {
    background: white !important;
    color: #FFC573 !important;
}


header ul li ul {
    transition-delay: 0.3s;
}
h2#tituloCell {
    display: none;
}


/* ============================================== MEDIA ============================================== */

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@media (max-width: 780px) {

    header div.abertura {
        display: none;
    }

    header div.headerPc {
        display: none;
    }

    header div.headerCellphone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFC573;
        padding: 1rem 2rem;
        border-radius: 0 0 20px 20px;
    }

    header h1 {
        font-size: 1.5rem !important;
        font-family: "Noto Traditional Nushu", sans-serif !important;
        padding-left: 2vw;
        padding-right: 26vw;
    }

    header img {
        max-width: 50px;
    }

    header div.menu-icon {
        font-size: 2.3rem;
        color: white;
        cursor: pointer;
    }

    header a {
        padding: 0vw;
        margin: 0vw;
    }

    header ul.linksCellphone {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 220px;

        background: #FFC573;
        flex-direction: column;
        align-items: flex-start;

        padding: 3rem 1.5rem;
        gap: 1rem;

        list-style: none;
        display: flex;
        opacity: 0;
        transform: translateX(100%);
        pointer-events: none;
        transition: transform 0.35s ease, opacity 0.35s ease;

        z-index: 999999;
    }

    header ul.linksCellphone.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    header ul.linksCellphone li {
        width: 100%;
    }

    header ul.linksCellphone li a {
        display: block;
        width: 100%;
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 0.6rem 0;
    }

    /* botão fechar (seta) alinhado à borda superior */
    header ul.linksCellphone li.close-btn {
        align-self: flex-end;
        margin-bottom: 1.2rem;
        cursor: pointer;
    }

    header ul.linksCellphone li.close-btn span {
        font-size: 1.6rem;
        color: white;
    }

    /* acessibilidade: foco visível */
    .menu-icon:focus,
    header ul.linksCellphone li.close-btn:focus,
    header ul.linksCellphone a:focus {
        outline: 3px solid rgba(255, 255, 255, 0.3);
        outline-offset: 2px;
    }

    div.cardbox p {
        display: none;
    }

    div.cardbox h3 {
        display: none;
    }

    .titulo {
        display: none;
    }

    div.cardbox h2 {
        font-size: 1.5rem !important;
    }

    /* FOOTER CELULAR */

    footer p,
    footer a {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    footer ul li {
        display: none;
    }

    footer div.footer div.doisLados div#c p {
        display: none;
    }

    footer nav {
        text-align: center;
    }

    footer div.footer div.f {
        flex: 0 0 100%;
        order: 999;
        text-align: center !important;
        margin-top: 0.25rem;
        padding-top: 0.25rem;
    }

    footer div.footer div.doisLados div.ladoUm div#b {
        align-items: center !important;
        margin-bottom: 0.25rem;
        display: flex;
        justify-content: space-between;
    }

    footer div.footer div.doisLados div.ladoUm div#b p {
        margin-top: 3vw;
        font-size: 0.9rem;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-decoration: none !important;
        background-color: #8cab55 !important;
        padding: 1.5rem !important;
        border-top-left-radius: 25px !important;
        border-top-right-radius: 25px !important;
        margin-top: 2rem !important;
        gap: 0.6rem !important;
        padding: 1.2rem 1.5rem 0.8rem 1.5rem !important;
        font-family: "Noto Traditional Nushu", sans-serif !important;
        font-size: 1.3rem;
    }

    img {
        max-width: 78%;
    }

    h2#tituloCell {
        font-size: 1.3rem !important;
        text-align: center;
        font-weight: bold;
        margin-bottom: 6vw;
        display: block;
    }
}