@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');

/* FORMATAÇÃO */
html {
    background-color: rgb(252, 243, 224);
    font-family: "Labrada", serif;

}

body,
main {
    padding: 0 !important;
}

/* HEADER */

header {
    background-color: #FFC573;
    font-size: 1.5rem;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FFC573;
    padding-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 !important;
    color: white;
    text-decoration: none;
}

header div.abertura {
    display: flex;
    padding-left: 5vw;
    align-items: center;
    padding-top: 2vw;
}

header h1 {
    font-weight: bold;
    font-size: 2.3rem !important;
    font-family: "Labrada", serif !important;
    padding-left: 5vw;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
    padding: 5px 10px 5px;
    border-radius: 8px;
}
header a:hover, header a:focus, header a.active {
    background: white !important;
    color: #FFC573 !important;
    cursor: pointer !important;
    text-decoration: none !important;
}
header ul {
    padding-top: 2vw;
    display: flex;
}

header li {
    padding-right: 2vw;
    padding-left: 2vw;
}
.MaleficiosDois {
    color: #FFC573;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px 5px;
    opacity: 90%;
}

section.titulo {
    width: 100%;
    height: 90vh;
    align-content: center;
    background-image: url(../scr/fundo\ para\ pc.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

section.cardbox {
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: left;
    font-size: 5rem;
    color: #414183;
    font-weight: bold;
    background-color: #FFF7E9D9;
    opacity: 95%;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 50px;
}

/*CABEÇALHO*/
section.titulo {
    width: 100%;
    height: 90vh;
    align-content: center;
}

section.cardbox {
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: left;
    font-size: 5rem;
    color: #414183;
    font-weight: bold;
    background-color: #FFF7E9D9;
    opacity: 95%;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 50px;
}

/*FOOTER*/
footer {
    text-decoration: none;
    background-color: #8cab55;
    padding: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 2rem 1rem 2rem;
}

footer div#b p {
    font-weight: bold;
    padding: 15px 0 15px 0;
}

footer div#b nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;

}

footer div#c p.l {
    font-weight: bold;
    padding: 10px 0 15px 0;
}

footer div#c nav ul.menu-rodape {
    display: flex;
    justify-content: baseline;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;
}

footer div#c nav ul.menu-rodape li a {
    color: black;
    text-decoration: none;
}


footer div#b nav a {
    color: black;
    float: right;
    font-size: 2rem;
    padding: 10px;
    margin: 15px 0 0 0;
}

footer div#c nav ul li a {
    color: black;
}

footer div#d nav ul li a {
    color: black;
}

footer div#e nav ul li a {
    color: black;
}

footer div.f {
    text-align: center;
    padding-top: 1rem;
}

footer div.f a {
    font-weight: bolder;
    color: #FFF7E9;
    text-decoration: none;
}

/* Submenu estilizado para respeitar bordas, padding e background do header */
header ul li {
    position: relative;
}
header ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFC573;
    border-radius: 8px;
    min-width: 180px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    z-index: 10;
    padding: 8px 0;
}
header ul li:hover > ul {
    display: block;
}
header ul li ul li {
    padding: 0;
}
header ul li ul li a {
    display: block;
    color: white;
    padding: 8px 18px;
    background: transparent;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
}
header ul li ul li a:hover, header ul li ul li a:focus {
    background: white;
    color: #FFC573;
    cursor: pointer;
    text-decoration: none;
}
