@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');
/* FORMATAÇÃO */
html {
    background-color: rgb(252, 243, 224);
    font-family: "Labrada", serif;
    
}

/* HEADER */

header {
    background-color: #FFC573;
    padding-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    color: white;
    text-decoration: none;
}
header div.abertura {
    display: flex;
    padding-left: 5vw;
    align-items: center;
    padding-top: 2vw;
}
header h1 {
    font-weight: bold;
    font-size: 2.3rem !important;
    font-family: "Labrada", serif !important;
}
header a {
    color: white;
    text-decoration: none;
}
header ul {
    padding-top: 2vw;
}

/*CABEÇALHO*/
main {
    padding: 0 7vw;
}

/*FOOTER*/
footer {    
    text-decoration: none;
    background-color: #8cab55;
    padding: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 2rem 1rem 2rem;
}

footer div#b p {
    font-weight: bold;
    padding: 15px 0 15px 0;
}
footer div#b nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;
   
}
footer div#c p.l {
    font-weight: bold;
    padding: 10px 0 15px 0;
}
footer div#c nav ul.menu-rodape {
    display: flex;
    justify-content: baseline;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;
}
footer div#c nav ul.menu-rodape li a{
    color: black;
    text-decoration: none;
}


footer div#b nav a{
    color: black;
    float: right;
    font-size: 2rem;
    padding: 10px;
    margin: 15px 0 0 0;
}
footer div#c nav ul li a{
    color: black;
}
footer div#d nav ul li a{
    color: black;
}
footer div#e nav ul li a{
    color: black;
}
footer div.f {
    text-align: center;
    padding-top: 1rem;
}
footer div.f a{
    font-weight: bolder;
    color: #FFF7E9;
    text-decoration: none;



}
