
/* BODY */
section.titulo p {
        padding: 0vw 7vw 0vw 0vw;
}
main {
    padding: 0 7vw;
    font-size: 2rem;
}
section.BAlimentos img {
    margin: 2vw 0 1vw 10vw;
    border-radius: 25px;
    width: 70%;
}
section.BAlimentos {
    padding: 0 7vw;
}
section.BAlimentos p {
    margin: 3vw 7vw 3vw 1vw;
    font-size: 2rem;
}

section.CAlimentos p {
    margin: 2vw 0 2vw 0;
    font-size: 2rem;
}

section.CAlimentos h3 {
    margin: 2vw 0 2vw 0;
    font-weight: bold;
    font-size: 3rem;
}
.CAlimentos {
    padding-left: 7vw;
    padding-right: 7vw;
}
section.CAlimentos ul li{
    list-style-type: disc;
}
section.CAlimentos  div.container ul.videos li {
    display: flex;
    text-align: center;
    margin: 2vw 1vw 2vw 1vw;
}

section.CAlimentos div.container ul.videos {
    display: flex;
}

.container ul.videos li iframe {
   max-width: auto;
   /*CHORA*/
}



